*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header
{
    background-color: #1F4690;
    display: flex;
   height: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
    

}
.logo{
   width: 20%;
  
   display: flex;
   align-items: center;
   justify-content: center;
   
    
    
}

.logo h4{
    color:white;
    text-shadow: 3px 3px 4px black;
}

.logo  span{
   color: #FFA500;

}

.search
{
   
    width: 50%;
    
   display: flex;
   align-items: center;
   justify-content: center;
    
}

.search-bar
{
    background-color: #1F4690;
    border-radius: 5px;
    display: flex;
    width: 80%;
    margin: auto;
   
    justify-content: space-between;
    
    box-shadow: 5px 5px 10px black;
   
}
.magnifier-button
{
    
    width: 15%;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    line-height: 35px;
    background-color:#FFA500 ;
    /* border: 1px solid white; */
   
    

}


.button:hover, .shop-button:hover, #cart:hover{
    transform: scale(1.1);
}
.buttons
{
   /* border: 1px solid #FFA500; */
    /* height: 70px; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.button{
    padding: 5px 10px;
    
    border-radius: 10px;
    background-color: #FFA500;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;

}
#scope
{
   
    color: white;
}

input{
    width:90% ;
    border: none;
    border-radius: 5px 0px 0px 5px ;
    padding-left: 40px;
    padding: 5px;
}

.menubar
{
    background-color: #1F4690;
   
   display: flex;
   align-items: center;
   justify-content: space-around;
   
   
   
}



 .menu{
    /* border: 1px solid white; */
    padding-top: 15px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    
   
   
  
   
    
   

}

.menu .links 
{
/* dding-top:12px ; */
   /* border: 1px solid white; */
    list-style: none;
    width:90%;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-evenly;
   
   
   
 
}



.menu ul li a{
    text-decoration: none;
    color: white;
   

}

.menu ul li:hover a{
    color: #FFA500;

}





.shop-button
{
    padding: 5px 10px;
    
    border-radius: 10px;
    background-color: #FFA500;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
  
    
}
#cart 
{
    color: #FFA500;
    
    /* border: 1px solid white; */
    
}

.maincontent
{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.slider
{
border: 1px solid white;    
height: 50%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
 
    
    
}

.slides
{
    height: 80%;
    width: 80%;
    background-color: white;
    box-shadow: 10px 10px 40px black;
    position:relative;
    display: flex;
    /* border: 2px solid black; */
   
    align-items: flex-end;
   overflow: hidden;
    border-radius: 20px;

   
  
}



.slide
{
    /* position: relative; */
   /* display: flex; */
    height: 100%;
    width: 100%;
    flex-shrink: 0;
   
    /* overflow-x: auto; */
    /* scroll-behavior: smooth; 
    object-fit: cover; */
    
 
}



.slides .text-area
{
    animation-name: slide-side;
    animation-duration: 2s ;
}


    
@keyframes slide-side
{
    0%
    {
        top:100%
    }
    
    100%
    {
        top: 6%;
    }
}

.slide .image{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    
}


    


#left-arrow
{
    height: 20px;
    width: 20px;
    /* background-color: black; */
    border-bottom: 2px solid #FFA500;
    border-left: 2px solid #FFA500;
    transform: rotate(45deg);
    position: absolute;
    top: 150px;
    left: 10px;
    opacity: 0.9;
    cursor: pointer;
    z-index: 3;
}
#right-arrow
{
    height: 20px;
    width: 20px;
    border-top: 2px solid #FFA500;
    border-right: 2px solid #FFA500;
    transform: rotate(45deg);
    position: absolute;
    top: 150px;
    right: 10px;
    opacity: 0.9;
    cursor: pointer;
    z-index: 3;
}

#right-arrow:hover, #left-arrow:hover{
    opacity: 1;

}
.circles
{
    display: flex;
    position: absolute;
    left: 45%;
   
}

.circle
{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    /* position: absolute; */
    bottom: 0;
    left: 50%;
    /* top: 0px; */
    background-origin: 0;
    z-index: 2;
    
    
}

.circle:hover{
    background-color: #FFA500;
}

.circle.active
{
    background-color: #FFA500;
}


.text-area
{
    position: absolute;
    /* position: fixed; */
    z-index: 3;
    top:20px;
    left: 50px;
    /* border-top: 5px solid #FFA500; */
    border-right: 5px solid #FFA500;
    border-bottom:5px solid #FFA500;
    padding: 20px;
    border-radius: 0px 20px 0px 20px;
}

.text-area h2{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   
    /* text-shadow: 4px 4px 3px #FFA500 ; */
   
}
    
    


.text-area p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    line-height: 10px;
    text-shadow: 3px 3px 4px black;
    

}


.text-area span{
    color: white;
    border-left: 5px solid #FFA500;
    border-right: 5px solid #FFA500;
    background-color:  #1F4690;
 
    margin-left: 70px;
    line-height: 60px;
    padding: 8px;
    border-radius: 40px 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
   
}

.buy-button
{
    z-index: 4;
    position: absolute;
    color: white;
    top: 200px;
    left: 100px;
    border-left: 5px solid #1F4690;
    border-right: 5px solid #1F4690;
   background-color:  #FFA500;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 3px 3px 4px black;
    
}

.buy-button:hover{
    box-shadow: 2px 2px 10px white;
}

.offers
{
    height: 70vh;
    width: 100%;
    border: 1px solid black;
}
.heading
{
    
    width: 90%;
    margin: auto;
    padding:15px ;
   /* background-color: #FFA500; */
   text-align: center;
}

.offer-products{
    
    background-color: #1F4690;
    height: 50%;
    width: 100%;
    margin: auto;
    box-shadow: 10px 10px 30px black;
    padding-bottom: 20px;
  
    display: flex;
   
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
   




}


.product{
    height: 90%;
    width: 13%;
    
    /* border: 1px solid black; */
    border-radius: 15px;
    margin: 20px;
    flex-shrink: 0;
    box-shadow: 10px 10px 20px black;
    position: relative;
    cursor: pointer;
    /* z-index: 7; */
}

.product:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.image-section
{
    height: 70%;
    
    background-color: #1F4690;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.image-content 
{
    height: 90px;
    width: 100%;
    margin: auto;
    /* text-align: center; */
    padding: 10px 0px 0px 15px;

    border-radius: 0px  0px 15px 15px;
    background-color: #FFA500;
    
   
  
}

.image-content del{
    color: red;
}

.offertag
{
    height: 30px;
    width: 90px;
    text-align: center;
    line-height: 30px;
    background-color: #FFA500;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    /* transform: rotate(340deg); */
    
}

.small-circle
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: white;

}
.image-section .image{
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    /* object-fit: cover; */
}

.image-content h6{
    color: #1F4690;
    line-height: 0.9;
    font-weight:400;
}

.image-content a{
    color: white;
    margin-left: 20px;
    background-color: #1F4690;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px black;
    text-decoration: none;

}

.footer-section
{
    height: 200px;
    width: 100%;
    background-color:#1F4690 ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-content
{
    height: 70%;
    width: 80%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.sections
{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */
    /* text-align: center; */
   

    
}

.sections h6{
    color: #FFA500;
}

.sections ul{
    height: 100%;
    text-decoration: none;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    
   
}

.sections ul li a{
    color: white;
    line-height: 2;
    text-decoration: none;
}

.sections ul li:hover a{
    color: #FFA500;
    transition: all 0.5s ease-in-out;
}

#facebook
{
    color: white;
    margin-left: 10px;
    
}

#login,#shopnow,#bars
{
    display: none;
    color: white;
    cursor: pointer;
}

.first-section
{
    width: 100%;
    height: 40vh;
}

.shadow{
    box-shadow: 5px 5px 20px black;
}



@media screen and (max-width:900px)
  {
      .navwrapper .menu ul{
          
          position: absolute;
          background-color: #1F4690;
          top: 120px;
          right: 100%;
          z-index: 5;
          height: 100%;
          width: 100%;
         text-align: center;
         overflow: hidden;
        transition: all 1s ease-in-out;
        /* border-radius: 0 0 100% 0; */

          


      }

     .menu ul li {
          margin: 20px;
         

      }

      

      

      /* .navwrapper .menu ul li {
          display: block;

      }; */

      .navwrapper .menu ul.active{
          display: block;
          right: 0%;
          list-style: 20px;
      }

     
      .buttons
      {
         /* border: 1px solid #FFA500; */
          /* height: 70px; */
          width: 10%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      
      }
      .button{
          margin-right: 10px;
      }
      .button span, .shop-button span{
         
          display: none;
          
      
      }

      #login,#shopnow,#bars{
          display: block;

      }

      .search-bar
      {
          width: 50%;
      }

      .menubar{
          padding: 10px;
          
      }
      .slider{
          height: auto;
          padding: 10px;
      }
      .slides
      {
          height: auto;

          /* font-size: smaller; */
      }

    .offer-products 
    {
        display: flex;
        width:100%;
     
    }
 .product{
     width: 25%;
 }

 
   
  
   
      

      
    
}

@media screen and (max-width:550px) {
    .product{
        width: 40%;
    }
    
}


    
